FlowarePopover.xcodeproj/project.xcworkspace/xcuserdata/
FlowarePopover.xcodeproj/xcuserdata/

*.xcuserdatad/UserInterfaceState.xcuserstate
*.xcuserdatad/IDEFindNavigatorScopes.plist
*.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist

